body {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 10fr;
}

body > * {
  border: 1px solid black;
}

header {
  grid-column: 1/4;
}

#tasks-container {
}

.task {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
